html {
    min-width: 100%;
    min-height: 100%;
}

* {
    font-family: Calibri;
}

.custom-tabs {
    background-color: #006DA2;
}

body {
    background-color: #e3eeff;
    margin: 0;
    border: 12px solid #2D3D7B;
    width: 1896px;
    height: 983px;
}